<%- include('header') %>
    <div class="row my-5">
        <div class="col-md-4 offset-4">
            <div class="my-3 py-2 text-white text-center bg-info">
                Edit Password Detail
            </div>
            <form action="/password_detail/edit/<%= record._id %>" class="form-horizontal" method="POST">
                <div class="text-center text-success">
                    <% if(success !='' ) { %>
                        <%= success %>
                            <% } %>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <select name="pass_cat" class="form-conrol" id="">
                            <option value="">Choose Password Category</option>
                            <% if( records.length> 0 ) {
                                records.forEach(function(row){
                                %>
                                <option value="<%= row.password_category %>" <% if(row.password_category==record.password_category){ %>selected<% } %>>
                                    <%= row.password_category %>
                                </option>
                                <% }) } %>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <input type="textbox" name="project_name" value="<%= record.project_name %>" class="form-control"placeholder="Enter Your Project Name">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <textarea type="text" id="editor" name="pass_details" rows="5" class="form-control"
                            id="username" placeholder="Enter Password Details"><%= record.password_detail %></textarea>
                    </div>
                </div>
                <input type="hidden" name="id" value="<%= record._id %>">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Update Password</button>
                    </div>

                </div>
                <p>Click here to <a href="/viewAllPassword">View All Passwords</a> !</p>
            </form>
        </div>
    </div>

    <script>
        CKEDITOR.replace('editor');
    </script>
 <%- include('footer') %>